@charset "utf-8";



.inner{
  width: 1100px;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  display: block;
}
/*header*/

.header{
  display: block;
  background-color: #fff;
}

.header-nav{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.box {
  display: inline-block;
  margin-bottom: 15px;
}

.contact-btn {
  padding: 12px 14px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #6ba7eb;
  font-size: 12px;
}

.contact-btn:hover{
  background-color: #333;
  transition: 0.3s;
}

.contact-a {
  color: #ffffff;
  text-decoration:none;
}

/*main*/
/*keyvisual*/


.keyvisual{
  display: block;
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-image:url(../img/keyvisual/keyvisual.jpg);
}

.title-box{
  width: 100%;
  padding-top: 400px;
  padding-bottom: 400px;
  margin: 0 auto;
  display: block;
}

.main-title{
  display: block;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
  margin-bottom: 30px;
}

.sub-title{
  display: block;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

/*work*/

.work{
  display: block;
  padding-top: 50px;
  background: #e3f2fd;
}

.work-inner{
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.work-picture{
  width: 40%;
  display: inline-block;
  text-align: center;
  flex-direction: row;
}

.work-box{
  width: 60%;
  display: inline-block;
  text-align: center;
  flex-direction: row;
}

.work-title{
  display: inline-block;
  font-size: 40px;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.work-text{
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin: 35px 0;
}
/*skills*/

.skills{
display: block;
}

.skills-inner{
  padding-bottom: 70px;
}

.title-box2{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
}

.title3{
  display: inline-block;
  font-size: 40px;
  letter-spacing: 10px;
}

.skills-box{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 100px;
}

.skills-img{
  width: 300px;
  height: 300px;
  opacity: 0.7;
}

.skills-img:hover{
  opacity: 10;
}


/*plan*/

.plan{
  display: block;
  background: #d0dfea;
}

.plan-inner{
  padding-bottom: 50px;
}

.cell-table{
  table-layout: fixed;
  width: 100%;
}

th,td{
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  border-left: 2px solid #fff;
  font-size: 16px;
  line-height: 26px;
}

th:first-child{
  border-left: 0 solid #fff;
}

.blue{
  background: #6ba7eb;
}
tr:nth-child(even){
  background: #f9f9f9;
}
tr:nth-child(2n+1){
  background: #e0efff;
}

/*sns*/
.sns{
  display: block;
  background: #e3f2fd;
}

.sns-inner{
  padding: 200px 0;
}
.sns-box{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.fab {
  display: inline-block;
  width: 185px;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
}
.fa {
  display: inline-block;
  width: 185px;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
}

/*footer*/
.footer{
  display: block;
  background: #cfd8dc;
}

.footer-inner{
  padding-top: 20px;
  padding-bottom: 25px;
}

.Copyright-box{
  display: block;
  text-align: right;
}
.title4{
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.5px;
}