@charset "utf-8";



.inner{
  width: 1100px;
  margin: 0 auto;
}
@media (max-width: 1199px),(max-width: 767px) {
  .inner {
    width: 97%;
  }
}
/*header*/

.header{
  width: 100%;
  display: block;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  z-index: 1;
}

.header-nav{
  display: flex;
  justify-content: space-between;
}

.box {
  display: inline-block;
}

.contact-btn {
  padding: 12px 14px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #6ba7eb;
  font-size: 12px;
}

.contact-btn:hover{
  background-color: #333;
  transition: 0.3s;
}

.contact-a {
  color: #ffffff;
  text-decoration:none;
}


.menu{
  display: none;
}

@media (max-width: 767px){
.contact-btn {
  display: none ;
}
.menu{
  display: inline-block;
}

.contact-btn:hover{
  display: none ;
}

.contact-a {
  display: none ;
}


}


/*main*/
main{
  padding-top: 78px;
}
/*keyvisual*/


.keyvisual{
  display: block;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-top: 400px;
  padding-bottom: 400px;
  background-image:url(../img/keyvisual/keyvisual.jpg);
}

.title-box{
  width: 100%;
  margin: 0 auto;
  display: block;
}

.main-title{
  display: block;
  font-size: 65px;
  font-weight: 700;
  color: #6ba7eb;
  text-align: center;
  margin-bottom: 30px;
}

.sub-title{
  display: block;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 1199px) {
  .keyvisual{
    padding-top: 250px;
    padding-bottom: 250px;
  }
}
@media (max-width: 767px) {
  .keyvisual{
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .main-title{
    font-size: 40px;
  }
  .sub-title{
    font-size: 30px;
  }
}
/*work*/

.work{
  display: block;
  padding-top: 50px;
  background: #e3f2fd;
}

.work-inner{
  display: flex;
  align-content: flex-end;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 1199px),(max-width: 767px){
  .work-inner{
    width: 100%;
    flex-direction: column;
  }
}
.work-picture{
  width: 40%;
  display: inline-block;
  text-align: center;
  flex-direction: row;
}

.work-box{
  width: 60%;
  display: inline-block;
  text-align: center;
  flex-direction: row;
}


@media (max-width: 1199px),(max-width: 767px){
  .work-picture{
    width: 50%;
  }
  .work-box{
    width: 97%;
  }
}

.work-title{
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.work-text{
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  word-break: break-all;
  margin: 35px 0;
}

@media (max-width: 1199px),(max-width: 767px){
  .work-picture{
    margin: 0 auto;
    flex-direction: column;
  }
  .work-box{
    margin: 0 auto;
    flex-direction: column;
}
}
/*skills*/

.skills{
  display: block;
  padding-top: 50px;
  padding-bottom: 70px;
}

.title-box2{
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.title3{
  display: inline-block;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-bottom: 50px;
}

.skills-box{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
  gap: 100px;
}

.skills-img{
  width: 300px;
  height: 300px;
  opacity: 0.7;
  transition: 0.8s;
}

.skills-img:hover{
  opacity: 10;
  transition: 0.8s;
}

@media (max-width: 1199px),(max-width: 767px){
  .skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
  .skills-item:nth-child(3n){
    margin-bottom: 80px;
  }
  .skills-item:last-child{
    margin-bottom: 0;
  }
  .skills-img{
    margin-top: -2px;
  }
}

/*plan*/

.plan{
  display: block;
  background: #d0dfea;
  padding-top: 50px;
  padding-bottom: 50px;
}

.cell-table{
  table-layout: fixed;
  width: 100%;
}

th,td{
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
  border-left: 2px solid #fff;
  font-size: 16px;
  line-height: 26px;
}

th:first-child{
  border-left: 0 solid #fff;
}

.blue{
  background: #6ba7eb;
}
tr:nth-child(even){
  background: #f9f9f9;
}
tr:nth-child(2n+1){
  background: #e0efff;
}

@media (max-width: 767px){
  th{
    font-size: 14px;
    line-height: 12px;
  }
  td{
    font-size: 12px;
  }
}
/*sns*/
.sns{
  display: block;
  background: #e3f2fd;
  padding: 200px 0;
}
.sns-box{
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.sns-item :hover{
  transition: 0.5s;
  background-color: #fff;
}
.fab,.fa {
  display: inline-block;
  width: 185px;
  overflow: hidden;
  font-size: 40px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: 0.5s;
}

@media (max-width: 767px){

  .sns {
    padding: 50px 15px;
  }
  .sns-box {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .fab,.fa {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/*footer*/
.footer{
  display: block;
  background: #cfd8dc;
  padding-top: 20px;
  padding-bottom: 25px;
}

.Copyright-box{
  display: block;
  text-align: right;
}
.title4{
  display: inline-block;
  font-size: 10px;
  letter-spacing: 0.5px;
}